html{
    box-sizing: border-box;
    font-size: 12px;
    background: #0D0D0D;
}
header{
    margin-bottom: 5px;
    height: 50px;
    background-color: #010D26;
    border: solid 2px #3DBCD9;
}
fieldset{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.207);
    margin-bottom: 15px;
    border-color:  #3DBCD9;
}
.Bienvenida{
    margin-left: 18px;
}
.Procesos{
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    gap: 10px; 
    
}
.Improceso{
    background-color: #010D26;
    border: 2px solid #3DBCD9;
    padding: 20px;
    text-align: center; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.306);
}
.Parametros{
    display: grid;
    grid-template-columns:  repeat(6    , 1fr);
    gap: 10px;
}
.Imparametrica {
    display: block;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px;
    text-align: center;
    border: solid 1px black;
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.306);
    background-color: #010D26;
    border: 2px solid #3DBCD9;
}
.Imparametrica:hover, .Improceso:hover, .ImReporte:hover {
    background-color: #033E8C;
}

.Reportes{
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    gap: 10px;
}
.ImReporte{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px;
    text-align: center;
    border: solid 1px black;
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.306);
    background-color: #010D26;
    border: 2px solid #3DBCD9;
}
.RutaGeneral{
    display: flex;
   margin-top: 10px;
}
.rutas{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 75%;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:  'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}
.salida_segura_a{
    color: #ffffff;
}
.Salida_Segura{
    margin-left: 25px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-size: 10px;
    background: #033E8C;
    padding: 10px ;
    border:solid 2px #3DBCD9;
}
.Salida_Segura:hover{
    background-color: #3DBCD9   ;
}

i{
    font-size: 20px;
    margin-bottom: 14px;
    color: #ffffff;
}
strong{
    color: azure;
}
main{
    margin-bottom: 30px;
    
}
footer {
    height: auto;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-top: 2px solid #3DBCD9;
    background-color: #010D26;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.311);
    border-radius: 3px;
}
footer p {
    margin: 0;
    color: #ffffff;
}
legend{
    color: #ffffff;
}
