html{
    box-sizing: border-box;
    font-size: 12px;
    /* background-color: #010D26; */
    background-color: #010d2610;
    background-color: rgb(252, 252, 252);
}
header{
    width: 98.67%;
    height: 50px;
    background-color: #010D26;
    border: solid 2px #3DBCD9;
    position: fixed;
    /* margin-bottom: 200px; */
}

fieldset{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.049);
    margin-bottom: 15px;
    border-color:  #3DBCD9;
    border: solid 2px #010D26;
}
.Bienvenida{
    margin-left: 18px;
}
.Procesos{
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    gap: 10px; 
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.266);
}
.Improceso{
    background-color: rgb(252, 252, 252);
    border: solid 2px #010D26;
    padding: 20px;
    text-align: center; 
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.306);
}
.Parametros{
    display: grid;
    grid-template-columns:  repeat(6    , 1fr);
    background-color: rgba(240, 255, 255, 0.266);
    padding: 10px;
    gap: 10px;
}
.Imparametrica {
    display: block;
    border: solid 2px #010D26;
    padding: 20px;
    text-align: center;
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.306);
    background-color: rgb(252, 252, 252);
}
.Imparametrica:hover, .Improceso:hover, .ImReporte:hover {
    /* background-color: #033E8C;
    background-color: #3DBCD9; */
    background: #010d2616;
    color: white;
}

.Reportes{
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    background-color: rgba(240, 255, 255, 0.266);
    padding: 10px;
    gap: 10px;
} 
.ImReporte{
    padding: 20px;
    text-align: center;
    border: solid 2px #010D26;
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.306);
    background-color: rgb(252, 252, 252);
    /* border: 2px solid #3DBCD9; */
}
.RutaGeneral{
    display: flex;
   margin-top: 10px;
}
.rutas{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 75%;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    color: #010D26;
    font-family:  'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}
.salida_segura_a{
    color: #ffffff;
}
.Salida_Segura{
    margin-left: 25px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-size: 10px;
    background: #033E8C;
    padding: 10px ;
    border:solid 2px #3DBCD9;
}
.Salida_Segura:hover{
    background-color: #3DBCD9   ;
}
i{
    font-size: 20px;
    margin-bottom: 14px;
    color: #010D26;
}
strong{
    color: azure;
}
main{
    padding-top: 6em;
}
footer {
    height: auto;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-top: 2px solid #3DBCD9;
    background-color: #010D26;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.311);
    border-radius: 3px;
}
footer p {
    margin: 0;
    color: #ffffff;
}
legend >strong{ 
    color: #ffffff;
    color: #010D26;
}
